.shopCart {
  margin-top: 4em;
}

.emptyCart {
  margin-top: 8em;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}


.emptyCartTitle {
  font-weight: 500;
  font-size: 40px;
  color: #0E0E2C;
}

.cartItem {

  margin: 20px;
  display: flex;
  height: 140px;
  justify-content: space-between;
  margin-bottom: 2%;

}






.cartItemImage {
  margin-right: 1em;
}

.cartItemDeleteButton {
  display: block;
  background-image: url(../../assets/svg/icon_remove.svg);
  background-repeat: no-repeat;
  background-color: none;
  background-position: center;
  border: none;
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin: auto;
}





.cartItemInfo {
  display: flex;
}


/* .cartItemPrice {
  display: none;
} */


.bookItemTitle,
.cartTotalTitle {
  align-self: center;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.bookItemAuthor {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #797979;
}



.bookItemPrice {
  font-weight: 700;
  font-size: 18px;
  align-self: center;
  color: #F3564F;
  margin-top: 4%;
}


.priceContainer {
  display: flex;
  justify-content: end;
  justify-content: space-between;
}

.bookItemTotalPrice span {
  color: black;
  font-weight: 600;
  font-size: 18px;

}



.bookItemTotalPrice,
.cartTotalPrice {
  align-self: center;
  color: #F45650;
  font-weight: 600;
  font-size: 24px;
}

.bookItemTotalPrice {
  color: black;
}

.counter {
  display: flex;
  justify-content: space-between;
}

.cartItemDescription {
  display: flex;
  justify-content: space-between;
}

.cartTotal {
  display: flex;
  gap: 10%;
  justify-content: end;
  margin: 20px;
}



.cartPurchaseButton {
  padding: 12px 40px;
  font-weight: 600;
  font-size: 23px;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  background-color: #F45650;
  transition: all .2s ease-in-out;
}

.cartPurchaseButton:hover {
  transform: scale(1.1);
}


@media (max-width: 1023px) {
 
.cartTotal {
margin-top: 10%;
}
}

@media (max-width: 768px ) {
  .counter {
    /* display: none; */
  }

  .cartItem {
    flex-wrap: wrap;
  }
}