 
.search_nav__container {
   display: flex;
   justify-content: end;
   align-items: center;
   height: 64px;
   background: #F45650;


  gap: 8vw;
  padding-right: 74px;
}
 
 
 
 
 
 
 
 
.search {
  /* position: absolute; */
   width: 24px;
   height: 24px;
   left: 10px;
   top: 10px;
   background-image: url('../../assets/svg/search.svg');
   background-repeat: no-repeat;
   border: none;
   /* background-color: white; */
   /* align-self: center; */
}



.search_input__box {
   max-width: 350px;
   position: relative;

}

.search_input__box input {
   position: relative;
   font-size: 16px;
   font-weight: 400;
   color: #9d9fa3;
   border: none;
   outline: none;
   margin: 16px auto ;
   padding: 10px 24px;
    border-radius: 8px;
    border: transparent;

    background-repeat: no-repeat;
    background: white;
}

.search_input__box input::placeholder {

   color: #CACACA;
   border-bottom: 1px solid #CACACA;
}

.input_box input {
  padding: 0 50px 0 65px;
  border-radius: 13px;
 }

.input_box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
 }

 .input_box.search {
  border-radius: 6px 0 0 6px;
 }


 .search_icon {
  background-image: url('../../assets/svg/search.svg');
  
 }


 /* .search_price__container {
   flex
 } */

