.navContainer {
   display: flex;
   justify-content: end;
   align-items: center;
   height: 64px;
   background: #F45650;
   gap: 8vw;
   padding-right: 74px;
}






.search {
   /* position: absolute; */
   width: 24px;
   height: 24px;
   left: 10px;
   top: 10px;
   background-image: url('../../assets/svg/search.svg');
   background-repeat: no-repeat;
   border: none;
   /* background-color: white; */
   /* align-self: center; */
}



.inputBox {
   max-width: 350px;
   position: relative;

}

.inputBox input {
   position: relative;
   font-size: 16px;
   font-weight: 400;
   color: #9d9fa3;
   border: none;
   outline: none;
   margin: 16px auto;
   padding: 10px 24px;
   border-radius: 8px;
   border: transparent;

   background-repeat: no-repeat;
   background: white;
}

.inputBox input::placeholder {
  color: #CACACA;
  border-bottom: 1px solid #CACACA; 
}

.inputBox input {
  border-radius: 13px;
}

.inputBox .search {
  position: absolute;
  top: 26px;
  left: 196px;
  background-image: url('../../assets/svg/search.svg');
}






/* Price Filter */




.select_container {
/* position: relative; */
  display: inline-block;
  margin: 10px;
  /*font-size: 16px;
  background-color: white;
  *//*background: #FFFFFF;
  */font-family: 'Barlow';
  font-weight: 400;
  border-radius: 12px;
}


.select-menu select {
  padding: 5px;
  color: #878787;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
}

.select-menu select:focus {
  outline: none;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background-color: white;
  color: #878787;
  appearance: none;
  cursor: pointer;
  padding: 10px 30px;

}



select:hover {
  background-color: white;
}

select:focus {
  outline: none;

}

option[value='default'] {
  display: none;
}