.navContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 64px;
  background: #f45650;
  height: fit-content;
  gap: 2%;
  padding: 10px;
}

.search {
  width: 24px;
  height: 24px;
  left: 10px;
  top: 10px;
  background-image: url("../../assets/svg/search.svg");
  background-repeat: no-repeat;
  border: none;
}

.inputBox {
  position: relative;
  max-width: 350px;
}

.inputBox input {
  position: relative;
  margin: 8px auto;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 400;
  color: #9d9fa3;
  border: none;
  border-radius: 8px;
  border: transparent;
  background-repeat: no-repeat;
  background: white;
  outline: none;
}

.inputBox input::placeholder {
  color: #cacaca;
  border-bottom: 1px solid #cacaca;
}

.inputBox input {
  border-radius: 13px;
}

.inputBox .search {
  position: absolute;
  top: 30%;
  left: 90%;
  background-image: url("../../assets/svg/search.svg");
}

.select_container {
  display: inline-block;
  margin: 10px;
  font-family: "Barlow";
  font-weight: 400;
  border-radius: 12px;
}

.select-menu select {
  padding: 5px;
  color: #878787;
  font-size: 16px;
  appearance: none;
}

.select-menu select:focus {
  outline: none;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px 30px;
  font-size: 16px;
  color: #878787;
  border-radius: 12px;
  border: none;
  background-color: white;

  appearance: none;
  cursor: pointer;
}

select:hover {
  background-color: white;
}

select:focus {
  outline: none;
}

option[value="default"] {
  display: none;
}


@media (max-width: 480px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputContainer {
    width: 90%;
  }

  .inputBox {
    position: relative;
    max-width: inherit;
  }

  .searchInput {
    padding-left: 40px;
    width: 100%;
    height: 40px;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .search {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 16px;
    height: 16px;
    background-image: url("../../assets/svg/search.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .priceContainer {
    width: 90%;
  }

  .selectContainer {
    width: 100%;
  }

  select {
    width: 100%;
    height: 40px;
    margin: 10px 10px 10px 0px;
    padding-right: 40px;
    padding-left: 16px;
    border: none;
    appearance: none;
  }
}