nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.burger-menu {
  cursor: pointer;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .menu.show-menu {
    display: block;
  }
}