.footerComponent {
  height: 64px;
  z-index: 1;
  background-color: #f45650;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.footerName {
  color: white;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 20px;
}

.footerName a {
  color: white;
  text-decoration: none;
}