.footerComponent{
  

  background-color: #F45650;
  height: 64px;
    z-index: 1;


}


.footerContainer {
  
  display: flex;
align-self: center;
  align-items: center;
    justify-content: center; 
}

.footerName {
  color: white;
  font-family: "Barlow";
  font-weight: 700;
  font-size: 20px;

}


.footerName a {
  color: white;
  text-decoration: none;
}
