@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800&display=swap');


* {
 box-sizing: border-box;
font-family: 'Barlow';
}


body {
  padding: 0 20px;
  width: auto;
  font-family: 'Barlow',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Barlow'
    sans-serif;
}


a {
  text-decoration: none;
}


li {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

